.wrapper{
  display: flex;
}

.side_bar_main{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side_header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_name a{
  color: #fafafa;
  font-size: 16px;
  padding: 0, 14px, 0;
  text-decoration: none;
}

.new_room a{
  color: deepskyblue;
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.side_room {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.main_area {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main_header {
  height: 100px;
  padding: 0 40px ;
}

.main_chat_area {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.main_footer {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}